/*----------
    DEBUG
 ----------*/

.debug main::after {
    content: 'MOBILE';
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 20px;
    background-color: black;
    color: white;
}

/*--------------------
       COMMON
--------------------*/

body {
    height: 100vh;
}