/*--- DESKTOP ---*/
@media screen and (min-width: 992px) {

    /* DEBUG */
    .debug main::after {
        content: 'DESKTOP';
    }

    /*----------
       LAYOUT 
    ----------*/
    .container {
        max-width: 960px;
    }

    /*----------
       HEADER 
    ----------*/
    .only-mobile {
        display: none;
    }

    .only-desktop {
        display: block;
    }

    /*----------
        MAIN
    ----------*/

    /*------------
     COLUMN USERS
    ------------*/

    .col-users {
        width: 600px;
    }

    .my-user-box {
        width: 100px;
    }

    .users-box {
        width: 100px;
    }

}

/*--- DESKTOP XL ---*/
@media screen and (min-width: 1200px) {

    /* DEBUG */
    .debug main::after {
        content: 'DESKTOP XL';
    }

    /*----------
       LAYOUT 
    ----------*/
    .container {
        max-width: 1140px;
    }

}